
<div class="container">
  <div class="form-container">
    <div class="title">
      <h1>SIGN UP</h1>
    </div>
    <div class="form">
      <%= form_with model: @user do |f| %>
        <div class="form-section-container">
          <%= f.label :name, class: "label" %><br>
          <%= f.text_field :name, class: "input", placeholder: "Name..." %>
        </div>
        <div class="form-section-container">
          <%= f.label :email, class: "label" %><br>
          <%= f.email_field :email, class: "input", placeholder: "Email..." %>
        </div>
        <div class="form-section-container">
          <%= f.label :password, class: "label" %><br>
          <%= f.password_field :password, class: "input",
          placeholder: "Password..." %>
        </div>
        <div class="form-section-container">
          <%= f.submit "SIGN UP", class: 'button'%>
          <%= link_to "LOGIN", login_path, method: :get %>
        </div>
      <% end %>
    </div>
  </div>
</div>