<h1>Products for <%= @warehouse.name %></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Qty</th>
      <th></th>
      <th><%= button_to "+", new_warehouse_product_path, method: :get %></th>
      <th><%= button_to "Back", warehouses_path, method: :get, class: "back" %></th>
      
    </tr>
  </thead>
  <tbody>
    <% @products.each do |p| %>
    <tr>
      <td><%= p.name %></td>
      <td><%= p.description %></td>
      <td><%= number_to_currency(p.price) %></td>
      <td><%= p.quantity %></td>
      <td><%= button_to "Go To", warehouse_product_path(@warehouse, p), method: :get %></td>
      <td><%= button_to "Edit", edit_warehouse_product_path(@warehouse, p), method: :get %></td>
      <td><%= button_to "Delete", warehouse_product_path(@warehouse, p), method: :delete %></td>
    </tr>
    <% end %>
  </body>
</table>







