
<% if current_warehouse %>
  <%= render 'products' %>
<% else %>
<h1>Products</h1>
<table>
  <thead>
    <tr>
      <th>
      Name: 
        
      </th>
      <th>Description:</th>
      <th>Price:</th>
      <th>Qty:</th>
      <th>Located:</th>
      <th><%= button_to "+", new_product_path, method: :get, class: "new-button" %></th>
      <th><%= button_to "Back", warehouses_path, method: :get, class: "back" %></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |p| %>
    <tr>
      <td><%= p.name %></td>
      <td><%= p.description %></td>
      <td><%= number_to_currency(p.price) %></td>
      <td><%= p.quantity %></td>
      <td>
        <% p.warehouses.each do |w| %>
          <div>
            <%= link_to w.name, warehouse_products_path(w), method: :get %>
          </div>
        <% end %>
      </td>
      <td><%= link_to "Edit", edit_product_path(p), method: :get %></td>
      <td><%= button_to "Delete", product_path(p), method: :delete, class: "delete-button" %></td>
    </tr>
    <% end %>
  </body>
</table>
<% end %>






