<% stylesheet_link_tag 'forms' %>

<div class="container">
  <div class="form-container">
    <div class="title">
    </div>
    <div class="form">
      <%= form_for @warehouse do |f| %>
        <div class="form-section-container">
          <%= f.label :name, class: "label" %>
          <%= f.text_field :name, class: "input" %>
        </div>
        <div class="form-section-container">
          <%= f.submit "CREATE", class: "button" %>
          <%= link_to "Back", warehouses_path %>
        </div>
      <% end %>
    </div>
  </div>
</div>
