
<div class="container">
  <div class="form-container">
  <% if flash[:notice] %>
    <%= render "errors/flash" %>
  <% end %>
    <div class="title">
      <h3>Create a Warehouse</h3>
    </div>
    <div class="form">
      <%= form_for @warehouse do |f| %>
      <%= render "errors/errors", object: @warehouse %>

      <div class="form-section-container">
        <%= f.label :name, class: "label" %>
        <%= f.text_field :name, class: "input" %>
      </div>

      <div class="form-section-container">
        <h3>Select Products for this Warehouse</h3>
        <% if current_user.products == [] %>
          <h5>You have no products</h5>
        <% else %>
          <%= f.collection_check_boxes :product_ids, current_user.products, :id, :name do |b| %>
            <%= b.check_box %><%= b.label %><br>
          <% end %>
        <% end %>
      </div>

      <div class="form-section-container">
        <%= f.submit "CREATE", class: "button" %>
        <%= link_to "Back", warehouses_path %>
      </div>
      <% end %>
    </div>
  </div>
</div>
