
<div class="container">
  <div class="form-container">
    <div class="title">
    </div>
    <div class="form">
      <%= form_for @warehouse do |f| %>
        <div class="form-section-container">
          <%= f.label :name, class: "label" %>
          <%= f.text_field :name, class: "input" %>
        </div>
        <div class="form-section-container">
          <h3>Select a Products for this Warehouse</h3>
          <%= f.collection_check_boxes :product_ids, Product.all, :id, :name do |b| %>
            <%= b.check_box %><%= b.label %><br>
          <% end %>
        </div>
        <div class="form-section-container">
        <h3>Create a New Product</h3>
        <%= fields_for @product, @warehouse.products.build do |product_fields| %>
          <%= product_fields.label :name %><br>
          <%= product_fields.text_field :name %><br>
          <%= product_fields.label :price %><br>
          <%= product_fields.number_field :price, min: 1 %><br>
          <%= product_fields.label :description %><br>
          <%= product_fields.text_area :description %><br>
          <%= product_fields.label :quantity %><br>
          <%= product_fields.number_field :quantity, min: 1 %><br>
        <% end %>
        </div>
        <div class="form-section-container">
          <%= f.submit "CREATE", class: "button" %>
          <%= link_to "Back", warehouses_path %>
        </div>
      <% end %>
    </div>
  </div>
</div>
