<h1>Warehouses</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
      <th><%= button_to "All Products", products_path, method: :get %></th>
      <th><%= button_to "+", new_warehouse_path, method: :get, class: "new-button" %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @warehouses.each do |w| %>
      <tr>
        <td><%= w.name %></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= button_to "Products", warehouse_products_path(w), method: :get %></td>
        <td><%= button_to "Edit", edit_warehouse_path(w), method: :get %></td>
        <td><%= button_to "Delete", warehouse_path(w), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>