<h1>Warehouses</h1>

<%= button_to "+", new_warehouse_path , method: "get", action: "new" %>

<div class="container">
  <% @warehouses.each do |w| %>
    <div class="warehouse">
    <%= w.name %>
    <%= link_to "Show", warehouse_path(w) %>
    <%= link_to "Edit", edit_warehouse_path(w) %>
    <%= button_to "Delete", warehouse_path(w), method: :delete, form_class: "delete_btn" %>
    </div>
  <% end %>
</div>