<h1><%= @warehouse.location %></h1>

<h3>List of <%= pluralize(@warehouse.products.uniq.count, 'Product') %></h3>
<ul>
  <% @warehouse.product_warehouses.each do |p| %>
    <li>
      Name: <%= link_to p.product.name, product_path(p.product) %><br>
      Price: $<%= p.product.price%><br>
      Description: <%= p.product.description %><br>
      Quantity: 
    </li>
  <% end %>
</ul>