<!DOCTYPE html>
<html>
  <head>
    <title>InventoryTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= yield %>
  <footer>
  <div class="container">
    <% if logged_in? %>
      <%= button_to "Logout", logout_path, method: :delete, class: "logout" %>
    <% end %>
  </div>
  </footer>
  </body>
</html>
